.recipes-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: #272727;
  background: #FFFFFF;
}

.recipes-main__info {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #616161;
  margin-right: 60px;

}

.recipes-main__info::after{
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  right: -30px;
  border-top: 1px solid Grey;
  border-right: 1px solid grey;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
}

/* Tabs */

.card {
  width: 210px;
  min-height: 350px;
  border: 1px solid rgba(0,0,0,.125);
  margin-bottom: 10px;
  background-color: white;
  border-radius: 0.25em;
}

.card:not(:nth-child(3n)) {
  margin-right: 20px;
}


.card__image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 5px
}

.card__image:hover {
  cursor: pointer;
}


.card__content {
  position: relative;
  padding: 7px;
  min-height: 140px;
}

.card__title {
  font-size: 20px;
  letter-spacing: -0.06em;
  font-weight: bold;
}

.card__title:hover {
  cursor: pointer;
}

.card__title--link {
  text-decoration: none;
  color: #6935FD;
}

.card__title--link:hover {
  color: #906afc;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  bottom: 5px;
  font-size: 16px;
  overflow: hidden;

}

.card__lines {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__lines:not(:last-child) {
  margin-bottom: 5px;
}

.card__lines-info {
  display: inline-block;
  margin-left: 14px;
  padding-top: 3px;
}