.main__header h1 {
  margin: 0;
  font-size: 70px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #272727;
}

.main__header > p {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 32px;
  font-size: 22px;
  text-align: center;
}

@media screen and (max-width: 670px) {
  .main__header h1 {
    font-size: 52px;
  }

  .main__header > p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .main__header h1 {
    font-size: 36px;
  }

  .main__header > p {
    font-size: 18px;
  }
}