.app-content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 670px;
  margin-top: 80px;
  margin-bottom: 60px;
}


@media screen and (max-width: 670px) {
  .app-content-wrapper {
    margin-top: 50px;
  }
}

@media screen and (max-width: 460px) {
  .app-content-wrapper {
    margin-bottom: 120px;
  }
}
