.header {
  display: flex;
  justify-content: space-between;
  margin: 24px auto;
  width: 1140px;
}

.header__logo {
  position: relative;
  top: 7px
}

.header__navigation {
  
}

.header__navigation-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.header__navigation-item:not(:last-child) {
  margin-right: 54px;
}

.header__navigation-item a {
  font-size: 18px;
  color: #272727;
  font-weight: 400;
  text-decoration: none;
}