.buttonUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 50px;
  visibility: hidden;
  border-radius: 30%;
  background-color: white;
}

.buttonUp:hover {
  cursor: pointer;
}

.buttonUp:hover svg g {
  fill: black;
}

.back_to_top-show {
  visibility: visible;
}

