.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 670px;
  
}

.main__search {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0;
  margin-top: 40px;
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 4px;
}

.icon__search {
  display: inline-block;
  width: 70px;
  height: 100%;
  padding: 23px;
}

.search {
  position: relative;
  width: 100%;
}

.search__input {
  padding: 24px 20px 24px 34px;
  margin-right: 12px;
  width: 100%;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.icon__search::before {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  left: 69px;
  height: 40px;
  width: 1px;
  background: #F6F6F6;

}

.search__input::placeholder {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #A8A8A8;
  letter-spacing: -0.02em;
}

.search__input:focus {
  outline: none;
}

.main__search button {
  width: 170px;
  height: 46px;
  margin: 12px 12px 12px 0;
  border: 1px solid #6935FD;
  border-radius: 2px;
  background-color: #6935FD;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
}

.main__search button:hover {
  cursor: pointer;
  background-color: black;
  border: 1px solid black;
}

.main__search button:disabled {
  background-color: grey;
  border: 1px solid grey;
  cursor: auto;
}
