.post {

}

.post__title {
text-align: center;
font-size: 30px;
}

.post__wrapper {
  display: flex;
  justify-content: center;
}

.ingredients__item:not(:last-child) {
  margin-bottom: 10px;
}

.ingredients__list {
  margin: 0;
}