.post {
  width: 100%;
  position: relative;
  padding: 0 10px 40px 10px;
  margin-top: 40px;
  border: 1px solid var(--second-color);
  border-radius: 4px;
  background-color: var(--second-color);
}

.post__title {
text-align: center;
font-size: 30px;
padding: 0 40px 0 5px;
}

.post__total-wrapper {
  display: flex;
  justify-content: right;
}

.post__total-info {
  display: flex;
  justify-content: right;
  align-items: center;
  width: auto;
  padding: 4px 0 4px 10px;
  background-color: var(--main-color);
  border-start-start-radius: 50px;
  border-end-start-radius: 50px;
}

.post__total-info--Weight {
  color: var(--second-color);
  font-size: 17px;
  margin-left: 5px;
  margin-right: 10px;
}

.post__wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.post__picture {
  margin: 0;
  margin-right: 30px;
}

/* Resume block */

.nutritional-value {
  margin-top: 30px;
  font-size: 18px;
  color: var(--main-color);
  text-align: right;
  font-weight: bold;
}

.resume {
  padding: 5px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: var(--main-color);
}

.resume__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.resume__item {
  display: flex;
  align-items: center;
}

.resume__item:not(:last-child) {
  margin-right: 30px;
}

.resume__item--text {
  margin-left: 10px;
  font-size: 25px;
  color: var(--second-color);
}

/* Ingredients block */

.ingredients__list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

.ingredients__item::before {
  content: '•';
  color: var(--main-color);
  padding-right: 10px;
}

.ingredients__item:not(:last-child) {
  margin-bottom: 10px;
}

.ingredients__item {
  font-size: 19px;
}

.ingredients__images {
  padding: 0 30px 0 30px;
}

.post__img {
  border-radius: 50%;
}

.ingredients {
  display: flex;
  flex-direction: column;

}

.ingredients__header {
  display: flex;
  justify-content: space-between;
}

.ingredients__title {
  font-size: 30px;
}

.ingredients__panel {
  display: flex;
  margin: auto 0;
}

.ingredients__img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  
  margin-bottom: 20px;
}

.ingredients__img:not(:nth-child(5n)) {
  margin-right: 20px;
}

.ingredients-panel__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  color: var(--main-color);
  font-size: 40px;
}

.ingredients-panel__button:hover {
  cursor: pointer;
  border: 1px solid var(--black);
  background-color: var(--black);
}

.ingredients-panel__button--dec {
  border-left: 0;
}

.ingredients-panel__button--text {
  transform: translate(1px, 1px);
}

.ingredients-panel__button--text:hover {
  color: var(--second-color);
}

.ingredients__title--count {
  color: var(--main-color);
  font-weight: bold;
  font-size: 40px;
  border-bottom: 1px solid var(--main-color);
}

.ingredients__table {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  border-collapse: collapse;
}

.ingredients__table--title {
  border-bottom: 3px solid #e5e5e5;
  font-weight: bold;
}

.ingredients__table--ingredients {
  border-bottom: 1px solid #e5e5e5;
  line-height: 30px;
  height: 40px;
}

.ingredients__table--measure {
  color: #bcbcbc;
  width: 20px;
  padding-left: 5px;
}

.ingredients__table--quantity {
  text-align: right;
}

.title__Quantity {
  text-align: right;
}

.title__Measure {
  width: 20px;
}

.post__title--favoriteIcon {
  text-align: center;
}

.post__title--favoriteIcon:hover {
  cursor: pointer;
}

@media screen and (max-width: 665px) {
  

  .ingredients__images {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start;
    margin: 0 5px 0 40px;
  }

  .ingredients__img {
    margin-right: 10px;
  }

  .ingredients__img:not(:nth-child(5n)) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 576px) {
  .post {
    width: 100%;
  }
  .post__wrapper {
    flex-direction: column;
  }
  
  .post__picture {
    margin-right: 0;
    text-align: center;
  }

  .resume__list {
    flex-direction: column;
  }

}

@media screen and (max-width: 340px) {
  .post__total-info--Weight {
    margin-right: 2px;
  }

  .ingredients__header {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .ingredients__title {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .ingredients__panel {
    margin: 0 auto;
  }
}

@media screen and (max-width: 318px) {
  .post__img {
    width: 200px;
    height: 200px;
  }

  .post__total-info {
    flex-direction: column;
    width: 100%;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}