.post {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0 10px 40px 10px;
}

.post__title {
text-align: center;
font-size: 30px;
}

.post__wrapper {
  display: flex;
  justify-content: start;
  margin-top: 50px;

}

.post__picture {
  margin: 0;
  margin-right: 30px;
}


.ingredients__list {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.ingredients__item::before {
  content: '•';
  color: #6935FD;
  padding-right: 10px;
}

.ingredients__item:not(:last-child) {
  margin-bottom: 10px;
}

.post__img {
  border-radius: 50%;
}

.ingredients {
  display: flex;
  flex-direction: column;
}

.ingredients__header {
  display: flex;
  justify-content: space-between;
}

.ingredients__title {
  font-size: 30px;
}

.ingredients__panel {
  margin: auto 0;
}

.ingredients__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}