.post {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0 10px 40px 10px;
}

.post__title {
text-align: center;
font-size: 30px;
}

.post__wrapper {
  display: flex;
  justify-content: start;
  margin-top: 50px;

}

.post__picture {
  margin: 0;
  margin-right: 30px;
}


.ingredients__list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
}

.ingredients__item::before {
  content: '•';
  color: #6935FD;
  padding-right: 10px;
}

.ingredients__item:not(:last-child) {
  margin-bottom: 10px;
}

.post__img {
  border-radius: 50%;
}

.ingredients {
  display: flex;
  flex-direction: column;
}

.ingredients__header {
  display: flex;
  justify-content: space-between;
}

.ingredients__title {
  font-size: 30px;
}

.ingredients__panel {
  display: flex;
  margin: auto 0;
}

.ingredients__img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.ingredients-panel__button {
  color: #6935FD;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #6935FD;
  border-radius: 3px;

}

.ingredients-panel__button:hover {
  cursor: pointer;
}

.ingredients-panel__button--dec {
  border-left: 0;
}

.ingredients-panel__button--text {
  
}

.ingredients__title--count {
  color: #6935FD;
  font-weight: bold;
  font-size: 40px;
  border-bottom: 1px solid #6935FD;
}


.ingredients__table {
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  border-collapse: collapse;
}

.ingredients__table--title {
  border-bottom: 3px solid #e5e5e5;
  font-weight: bold;
}

.ingredients__table--ingredients {
  border-bottom: 1px solid #e5e5e5;
  line-height: 30px;
  height: 40px;
}

.ingredients__table--measure {
  color: #bcbcbc;
  width: 20px;
  padding-left: 5px;
}

.ingredients__table--quantity {
  text-align: right;
}

.title__Quantity {
  text-align: right;
}

.title__Measure {
  width: 20px;
}

