@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("./fonts/Roboto-Regular.ttf") format("ttf"),
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
}


#root {
  padding-top: 10px;
  background: linear-gradient(180deg, var(--main-color) 0%, #5a21fc 100%);
}